*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero
{
    width: 100%;
    height: 20vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    background-color: white;
    position: relative;
    padding: 0.5%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
nav
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo
{
    width: 100px;
}

nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a
{
    font-family: 'Old Standard TT', serif;
    text-decoration: none;
    color: gray;
    font-size: 17px;
}
nav ul li a:hover
{
    transition: ease-in-out 0.5s;
    border: solid 2px  black;
}
ul li ul.dropdown li
{
    display: block;
}
ul li ul.dropdown
{
    font-size: 20px;
    padding: 40px 40px;
    color: white;
    height: 270px;
    width: 180%;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a :hover
{
    background-color: transparent;
}
ul li:hover ul.dropdown
{
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(0,0,0,0.8);
    height: 250px;
    width: 300px;
    display: block;
}

.section
{
    background-color: black;
    width: 100%;
    height: 380vh;
}
.box1 
{
    background-color: transparent;
    color: gray;
    height: 250px;
    width: 500px;
    font-size: 35px;
    padding: 3px;
    text-align: center;
    margin-left: 700px;
    margin-top: 170px;
    font-family: 'Source Serif Pro', serif;
}
.box1 h4
{
    text-align: justify;
    
    font-size: 20px;
}
.Sbox15
{
    margin-left: 70px;
    margin-top: -310px;
    background-color: yellow;
    height: 370px;
    width: 600px;
}
.Sbox15 img
{
    height: 100%;
    width: 100%;
}

.sbox3{
    
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;

}
.sbox3 img{
    width: 100%;
    height: 100%;
}
.content{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    text-align: center;
}
.sbox3:hover .content{
    top: 0;
}
.content h1{
    font-size: 30px;
    margin-top: 100px;
    color: black;
} 
.sbox4{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: -300px;
    margin-left: 470px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;

}
.sbox4 img{
    width: 100%;
    height: 100%;
}
.sbox4:hover .content{
    top: 0;
}
.sbox5{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: -300px;
    margin-left: 875px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
    
   
}
.sbox5 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox5:hover .content{
    top: 0;
}
.sbox6{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
   
}
.sbox6 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox6:hover .content{
    top: 0;
}
.sbox7{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: -300px;
    margin-left: 470px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
   
}
.sbox7 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox7:hover .content{
    top: 0;
}
.sbox8{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: -300px;
    margin-left: 875px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
    
}
.sbox8 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox8:hover .content{
    top: 0;
}
.sbox9{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
   
}
.sbox9 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox9:hover .content{
    top: 0;
}
.sbox10{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 475px;
    margin-top: -300px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
  
}
.sbox10 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox10:hover .content{
    top: 0;
}
.sbox11{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 875px;
    margin-top: -300px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
}
.sbox11 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox11:hover .content{
    top: 0;
}
.sbox12{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 70px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
    
}
.sbox12 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox12:hover .content{
    top: 0;
}
.sbox13{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 475px;
    margin-top: -300px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
  
}
.sbox13 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox13:hover .content{
    top: 0;
}
.sbox14{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 875px;
    margin-top: -300px;
    box-shadow: 0 2px 2px 0 gray, 0 4px 5px 0 gray;
}
.sbox14 img{
    width: 100%;
    height: 100%;
 
    
}
.sbox14:hover .content{
    top: 0;
}



footer
{
    width: 100%;
    height: 400px;
    background:white;
    /* background: #00416A; 
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A); 
background: linear-gradient(to right, #FFE000, #799F0C, #00416A);  */


}
.Fbox1
{
    height: 200px;
    width: 350px;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    color: black;
}
.Fbox1 h1
{
    color: black;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
}
.Fbox1-1
{
    
   color: white;
    margin-top: 20px;
    margin-left: -50px;
}
.Fbox1-1 input
{
    color: white;
    background-color: black;
    border: 2px solid gray;
    border-style: solid;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    
}
.Fbox1-1 ::placeholder
{
    color: white;
    text-align: center;
}
.btn4
{
    color: black;
    cursor: pointer;
    background-color: white;
    height: 30px;
    width: 100px;
    font-family: 'Macondo', cursive;
    margin-left: -205px;
    margin-top: 20px;
    border: 2px solid black;
}
.Fbox2
{
    background-color: transparent;
    height: 70px;
    width: 70px;
    margin-left: 600px;
    margin-top: -220px;
}
.Fbox2 img
{
    height: 100%;
    width: 100%;
}
.Fbox3
{
    border: 2px solid black;
    color: black;
    font-size: 15px;
    text-align: center;
    font-family: 'Alice', serif;
    height: 45px;
    width: 450px;
    background-color: transparent;
    margin-left: 420px;
}
.Fbox4
{
    color: black;
    text-align: center;
    font-family: 'Alice', serif;
    text-decoration: none;
    height: 100px;
    width: 450px;
    background-color: transparent;
    margin-left: 420px;
    margin-top: 60px;
    border: 2px solid black;
    text-decoration: none;
    text-decoration-color: transparent;
}
.Fbox4 h3
{
    text-decoration: none;
    text-decoration-color: transparent;
}
.Fbox5
{
    color: black;
    text-align: start;
    font-family: 'Alice', serif;
    height: 115px;
    width: 225px;
    background-color: transparent;
    margin-left: 970px;
    margin-top: -225px;
    border: 2px solid black;
}